## PYTHON TEST

## Loops (for/while)

In [ ]:
# Create a list of 5 numbers and use a for loop to compute the sum.
numbers = [8,18,28,38,48]
total = 0
for num in numbers:
  total += num
print("Sum:",total)

Sum: 140

In [ ]:
# Loop through a dictionary and print each key and value.
cars = {"Brand" : "Toyota","Model" : "Corolla","Year": 2025,"Color": "Pink"}
for key,value in cars.items():
  print(f"{key} : {value}")

Brand : Toyota
Model : Corolla
Year : 2025
Color : Pink

In [ ]:
# Loop through a list of names and print each one.
names = ["Nicole","Christian","Richie","Sponge Bob","Squidward","Peter","Luke","Gabby"]
for name in names:
  print(name)

Nicole
Christian
Richie
Sponge Bob
Squidward
Peter
Luke
Gabby

In [ ]:
# Use a while loop to print numbers from 5 down to 1.
count = 5
while count >= 1:
  print(count)
  count -= 1

5
4
3
2
1

In [ ]:
# define the count as starting point, but it has to be greater than or equal to 1 cant go below 1 essentialy
count = 8
while count >= 1:
  print(count)
  count -= 1

8
7
6
5
4
3
2
1

In [ ]:
# Use a for loop to print numbers from 1 to 10.
for i in range(1,11): # 11 includes 10 10 only goes up to 9 within range
  print(i) # 0,10 includes 0 - 10

1
2
3
4
5
6
7
8
9
10

## CONDITIONAL STATEMENTS (if / elif / else)

In [ ]:
# Ask the user for their age and print "Adult" if age ≥ 18.
age = int(input("Enter your age: "))
if age >=18 :
  print("Adult")
else:
  print("Minor")

Enter your age: 8
Minor

In [ ]:
# Write a program that checks if a number is even or odd.
num = int(input("Enter a number: "))
if num%2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 4
Even

In [ ]:
# If temp > 30, print "Hot", else print "Cool".
temp = float(input("Enter temperature: "))
if temp>30:
  print("Hot")
else:
  print("Cool")

Enter temperature: 35.3
Hot

In [ ]:
# Write an if/elif/else to check grade range: ≥ 80 → "A" ≥ 60 → "B" else → "C"
grade = int(input("Enter your grade: "))
if grade >=80:
  print("A")
elif grade>=60:
  print("B")
else:
  print("C")

Enter your grade: 88
A

In [ ]:
# Ask the user for a password and check if it matches "12345".
password = input("Enter your password: ")
if password == "12345":
  print("Password match")
else:
  print("Different paassword used!!")

Enter your password: 8888
Different paassword used!!

##  SETS

In [ ]:
# Create a set of 5 numbers.
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# Add an element to the set.
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Remove an element from the set.
my_set.remove(2)
print(my_set)

{1, 3, 4, 5, 6}

In [ ]:
# Show the difference between two sets A and B.
a= {1,2,3,4,5}
b= {4,5,6,7,8}
print(a-b)
print(b-a)

{1, 2, 3}
{8, 6, 7}

In [ ]:
# Show that sets do not allow duplicates by printing a set with repeated items.
dup_set = {8,18,18,28,28,38}
print(dup_set)

{8, 18, 28, 38}

## DICTIONARIES

In [ ]:
# Create a dictionary called student with keys: name, age, grade.
student = {"name": "Nicole","age": "20","grade" : "A"}
print(student)

{'name': 'Nicole', 'age': '20', 'grade': 'A'}

In [ ]:
# Access the value of the "name" key in the dictionary.
print(student["name"])

Nicole

In [ ]:
# Change the "age" value to a new number
student["age"] = 21
print(student["age"])
print(student)

21
{'name': 'Nicole', 'age': 21, 'grade': 'A'}

In [ ]:
# Add a new key "gender" to the dictionary.
student["gender"] ="Female"
print(student)

{'name': 'Nicole', 'age': 21, 'grade': 'A', 'gender': 'Female'}

In [ ]:
# Remove the "grade" key from the dictionary.
del student["grade"]
print(student)

{'name': 'Nicole', 'age': 21, 'gender': 'Female'}

In [ ]:
# Loop through the dictionary keys and print each one.
student = {"name": "Nicole","age": "20","grade" : "A"}
print(student)
for key in student.keys():
  print(key)

{'name': 'Nicole', 'age': '20', 'grade': 'A'}
name
age
grade

In [ ]:
# Loop through the dictionary values and print each one.
student = {"name": "Nicole","age": "20","grade" : "A"}
print(student)
for value in student.values():
  print(value)

{'name': 'Nicole', 'age': '20', 'grade': 'A'}
Nicole
20
A

In [ ]:
# Print all key-value pairs using .items().
for key,value in student.items():
  print(f"{key} -> {value}")

name -> Nicole
age -> 20
grade -> A

In [ ]:
# Use in to check if "age" exists in the dictionary.
print("age" in student)

True

In [ ]:
# Create a nested dictionary representing two students.
students = {"student1": {"Name": "Alice","age":28,"grade": "B"},
            "student2": {"Name": "Rick","age":22,"grade": "A"}}
print(students)
for student_id, info in students.items():
  print(student_id,":" ,info)

{'student1': {'Name': 'Alice', 'age': 28, 'grade': 'B'}, 'student2': {'Name': 'Rick', 'age': 22, 'grade': 'A'}}
student1 : {'Name': 'Alice', 'age': 28, 'grade': 'B'}
student2 : {'Name': 'Rick', 'age': 22, 'grade': 'A'}

In [ ]:
# Create a nested dictionary representing two students.
students = {"student1": {"Name": "Alice","age":28,"grade": "B"},
            "student2": {"Name": "Rick","age":22,"grade": "A"}}
for student_id, info in students.items():
  print(student_id,":" ,info)

student1 : {'Name': 'Alice', 'age': 28, 'grade': 'B'}
student2 : {'Name': 'Rick', 'age': 22, 'grade': 'A'}

In [ ]:
students = {"student1": {"Name": "Alice","age":28,"grade": "B"},
            "student2": {"Name": "Rick","age":22,"grade": "A"}}
for student_id, details in students.items():
    print(student_id + ":")
    for key, value in details.items():
        print(" ", key, "=", value)

student1:
  Name = Alice
  age = 28
  grade = B
student2:
  Name = Rick
  age = 22
  grade = A

## TUPLES

In [1]:
# create a tuple with 5 items
my_tuple = (8,18,28,38,48)
print(my_tuple)

(8, 18, 28, 38, 48)

In [2]:
# Print the last item in the tuple cars = ("Audi","BMW","Toyota")
cars = ("Audi","BMW","Toyota")
print(cars[-1])

Toyota

In [3]:
# Convert a tuple to a list.
tuple_to_list = list(cars)
print(tuple_to_list)

['Audi', 'BMW', 'Toyota']

In [4]:
# Given t = (1,2,3,4), print the length of the tuple.
t = (1,2,3,4)
print(len(t))

4

In [ ]:
# Explain in one sentence why tuples are immutable.
# To mean tuples cannot be changed after creation, to say you cannot add,remove,or modify elements

## LISTS

In [5]:
# Create a list called fruits with 4 fruit names and print it.
fruits = ["Apples","Pineapples","Bananas","Oranges"]
print(fruits)

['Apples', 'Pineapples', 'Bananas', 'Oranges']

In [6]:
# Add "mango" to the fruits list.
fruits.append("Mango")
print(fruits)

['Apples', 'Pineapples', 'Bananas', 'Oranges', 'Mango']

In [10]:
# Remove the second item from the fruits list.
fruits.pop(1)
print(fruits)

['Apples']

In [11]:
# Print the first and last items of a list named numbers.
numbers=[8,18,28,38,4,8]
print(numbers[0],numbers[-1])

8 8

In [12]:
# Change the third item in a list colors to "purple"
colors = ["Red","Yellow","Pink","Blue","Gold"]
colors[2]="Purple"
print(colors)

['Red', 'Yellow', 'Purple', 'Blue', 'Gold']

In [13]:
# Given scores = [10,20,30,40], print the length of the list.
scores = [10,20,30,40]
print(len(scores))

4

In [14]:
# Access the item at index 2 from animals = ["cat","dog","cow","goat"].
animals = ["cat","dog","cow","goat"]
print(animals[2])

cow

In [15]:
# Write a program that checks if "apple" is in the list fruits.
if "Apples" in fruits:
  print("Apple in list")
else:
  print("Apple not in list")

Apple in list

In [16]:
# Sort a list of numbers in ascending order.
nums = [8,18,9,5,2,6]
nums.sort()
print(nums)

[2, 5, 6, 8, 9, 18]

In [17]:
# Combine two lists: a = [1,2] and b = [3,4]. Print the result.
a = [1,2]
b = [3,4]
ab=a+b
print(ab)

[1, 2, 3, 4]